/data/.ipynb_checkpoints
/data_output/*
!/data_output/.gitkeep
/data/words_dir
/.ipynb_checkpoints
/jars/*
!/jars/.gitkeep
/LearningSparkV2-master
/notebooks/derby.log
/notebooks/feature-importance.csv
/notebooks/.ipynb_checkpoints
/notebooks/metastore_db
/notebooks/mlruns
/notebooks/spark-streaming-checkpoints*
/notebooks/spark-warehouse
/.venv
